.title {
    -fx-font-size: 25pt;
    -fx-font-family: "Arial Black";
    -fx-opacity: 0.6;
    -fx-fill: #818181;
  	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.title-bright {
    -fx-font-size: 25pt;
    -fx-font-family: "Arial Black";
    -fx-opacity: 1;
}

.title-header {
    -fx-font-size: 25pt;
    -fx-font-family: "Arial Black";
    -fx-opacity: 1;
}
